<body>
	<style type="text/css">
	.tabunic { text-align:center; border:2px solid #070707;  font-size:12px; color:#000; border-left:none; border-bottom:none;}
 .tabunic td{ text-align:center; padding:5px; border-left:2px solid #070707; border-bottom:2px solid #070707; padding:0px 1px 0px 1px;}
 
 .tab_heading{font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background-color:#C2D69A;}
 .tab_heading td{font-size:13px; font-weight:bold; padding:50px 10px;}
 
 .new td{font-size:14px; font-weight:bold; padding:20px 10px; background-color:#FCD5B4;}
 .new td.no{font-size:14px; font-weight:bold; padding:20px 10px; background-color:#C2D69A;}
 
 .newtab{font-size:14px; font-weight:bold; padding:10px 10px; border:none;}
 .newtab td{font-size:14px; font-weight:bold; padding:10px 10px; text-align:right; border:none;}
	</style>
	<% provide(:title, 'Consolidated Report') %>
	<!-- Status bar -->
	<div id="status-bar"><div class="container_12">
	
		<ul id="status-infos" style="margin-top:15px;">
			<li class="spaced" style="margin-top:4px;">Logged as: <strong><%= session[:email] %></strong></li>
			<li><a href="/logout" class="button red" title="Logout"><span class="smaller">LOGOUT</span></a></li>
		</ul>

<ul id="breadcrumb" style="margin-top:15px;">
			<li><a href="#" title="Home">Home</a></li>
			<li><a href="/dashboard" title="Dashboard">Dashboard</a></li>
			<li><a href="#" title="Consolidated Report">Consolidated Report</a></li>
		</ul>

	</div></div>
	<!-- End status bar -->
	
<h3 style="text-align:center">Name of service Provider : <%= @tsp %></h3>
<h3 style="text-align:center">Mobile Network - B.T.S. (C<sub>BTS</sub>)</h3>
<table width="100%" cellspacing="0" cellpadding="0" class="tabunic">
	<tr class="tab_heading">
		<td>S. No.</td>
		<td>BTS No.</td>
		<td>Total Power Consumpation<br /> (p)<br /> (in KW)</td>
		<td>Avg. Grid  <br /> Supply <br /> (in hrs.)</td>
		<td>DG capacity <br /> (in KVA)</td>
		<td>Avg. DG Supply <br /> (in hrs.)</td>
		<td>&eta; of DG Set </td>
		<td>Carbon Emission</td>
		<td>Carbon Emission (in Tonnes)</td>
		<td>Total No. of Subscribers</td>
		<td>Carbon Emission per Subscriber <br /> (in Tonnes)</td>
		<td>Carbon Emission per Subscriber <br /> (in kg)</td>
	</tr>
	<tr class="new">
		<td class="no">&nbsp;</td>
		<td class="no">&nbsp;</td>
		<td class="no">&nbsp;</td>
		<td>&lsquo;x&rsquo;</td>
		<td>&lsquo;y&rsquo;</td>
		<td>&lsquo;z&rsquo;</td>
		<td>&lsquo;&eta;&rsquo;</td>
		<td>C=0.365[0.84Px+(0.528yz/&eta;)]</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>

<% @edata.each do |e| %>
	<tr>
		<td><%= @i %></td>
		<td><%= e.site_name %></td>
		<td><%= ((e.kw_per_day).to_f).round(2) %></td>
		<td><%= ((e.eb_availability).to_f).round(2) %></td>
		<td><%= e.dg_capacity %></td>
		<td><%= ((e.dg_run_per_day).to_f).round(2) %></td>
		<td><%= e.eta %></td>
		<td><%= ((e.carbon_footprint_opco).to_f*1000).round(2) %></td>
		<td><%= ((e.carbon_footprint_opco).to_f).round(3) %></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>

	<% @i=@i+1 %>  					
    <% end %>
	<!--tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr-->
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td colspan="6"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="newtab">
				<tr>
					<td><strong>Total</strong></td>
				</tr>
		</table></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>

	
	<footer>
		
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		
		<div class="float-right">
			<a href="#top" class="button"><img src="assets/icons/fugue/navigation-090.png" width="16" height="16"> Page top</a>
		</div>
		
	</footer>
	
	</body>